body {
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin: 0;
    height: 100vh;
}
.main-content {
    grid-column-start: 2;
    grid-row: span 8;
    background-color: #F0F0F0;
    height: 100%;
}
.sidebar {
    display: grid;
    background-color: #00AFF0;
    grid-row: span 10;
    grid-template-rows: repeat(12, 30px);
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding-left: 30px;
    padding-top: 30px;
}
.Dashboard {
    grid-row: span 2;
}
.Communities {
    grid-row: span 2;
}
.header {
    grid-row: span 2;
    display: grid;
    grid-template-columns: 4fr 3fr ;
    grid-template-rows: 1fr 1fr;
}
.header-logo {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row: 1fr 1fr;
}
.logo1 {
  grid-row: span 2;
}
.header-form {
  display: grid;
  grid-column: span 4;
  grid-template-columns: 1fr 4fr 1fr 1fr 2fr;
  grid-row: 1fr;
}
.search-input {
  width: 100%;
  height: 30px;
  background-color: #F0F0F0;
  border: none;
  border-radius: 30px;
}
.div-input {
    display: grid;
    align-items: center;
}
.header-form-name {
    display: grid;
    align-items: center;
}
.header-buttons-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.button1-div, .button2-div, .button3-div {
    display: grid;
    align-items: center;
}
.button1, .button2, .button3 {
    width: 60%;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: #00AFF0;
    color: white;
}
.main-content {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 50% 50%;
}
.your-projects-div {
  display: grid;
  grid-row: span 2;
  grid-template-columns: 40% 40%;
  grid-template-rows: 1fr 3fr 3fr 3fr;
  padding: 20px;
  gap: 30px;
  margin-bottom: 50px;
  margin-top: 30px;
}
.div1, .div2, .div3, .div4, .div5, .div6 {
    background-color: white;
    border-radius: 10px;
}
.project-div-text {
    grid-column: span 2;
    height: 30px;
    font-size: 30px;
}
.announcements-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    height: 70%;
    font-size: clamp(10px, 1vw, 12px);
    box-sizing: border-box;
}
.announcements-text {
    font-size: 30px;
    margin-top: 50px;
}
.announcements-div1 {
    background-color: white;
    border-radius: 20px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
}
.announcement1, .announcement2, .announcement3 {
    display: grid;
    grid-template-rows: auto 1fr;
}
.trending-text {
    margin-top: 50px;
    font-size: 30px;
}
